* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


    //鼠标进入背景颜色
    @cursor-hover-in-bgcolor: #e7e7e7;
    //鼠标点击背景颜色
    @cursor-hover-active-bgcolor: #ccc;
