* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  color: #000;
  background-color: transparent;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input {
  outline: none;
}
::-webkit-inner-spin-button {
  visibility: hidden;
}
.header {
  width: 100%;
  min-width: 1200px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  z-index: 100;
}
.header .wrapper {
  overflow: hidden;
  width: 70%;
  min-width: 1200px;
  height: 50px;
  margin: 0 auto;
  /*position: absolute;*/
}
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.page {
  min-width: 1200px;
  width: 100%;
  position: relative;
  padding-top: 7%;
  overflow: hidden;
}
.page .personcenter {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  min-height: 700px;
}
.page .personcenter .menu {
  width: 200px;
  background: rgba(0, 0, 0, 0.3);
  float: left;
}
.page .personcenter .menu li {
  display: inline-block;
  width: 170px;
  height: 35px;
  line-height: 35px;
  padding-left: 30px;
  color: #fff;
  font-size: 15px;
}
.page .personcenter .menu li.til {
  font-weight: bold;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.7);
}
.page .personcenter .menu li:not([class='til']) {
  cursor: pointer;
}
.page .personcenter .menu li:not([class='til']):hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.page .personcenter .menu li.cur {
  background: #09f !important;
}
.page .personcenter .content-wrap {
  width: 1000px;
  background: rgba(0, 0, 0, 0.3);
  float: right;
}
.page .personcenter .content-wrap div {
  display: none;
}
.page .personcenter .content-wrap .us-center .info-list li {
  float: left;
  padding: 17px;
  width: 466px;
}
.page .personcenter .content-wrap .us-center .info-list li * {
  color: #fff;
}
.page .personcenter .content-wrap .us-center .info-list li :first-child {
  font-size: 20px;
}
.page .personcenter .content-wrap .us-center .info-list li.til {
  width: 966px;
  float: none;
  clear: both;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
}
.page .personcenter .content-wrap .table {
  width: 100%;
  border-collapse: collapse;
}
.page .personcenter .content-wrap .table tr:first-child {
  background-color: rgba(0, 0, 0, 0.7);
}
.page .personcenter .content-wrap .table tr th {
  padding: 7px 0;
  color: #fff;
}
.page .personcenter .content-wrap .table tr td {
  color: #fff;
  text-align: center;
  padding: 7px 0;
}
.page .personcenter .content-wrap .table tr .paytype-free {
  color: #f00;
}
.page .personcenter .content-wrap .table tr .paytype-negotiable {
  color: #0f0;
}
.page .personcenter .content-wrap .table tr .paytype-price {
  color: #fff;
}
.page .personcenter .content-wrap .table tr .order-operation {
  color: #09f;
}
.page .personcenter .content-wrap .table tr td:nth-child(7) {
  cursor: pointer;
}
.page .personcenter .content-wrap .table tr:not(:first-child):nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.4);
}
.page .personcenter .content-wrap .table tr:not(:first-child):nth-child(even) {
  background-color: rgba(0, 0, 0, 0.3);
}
.page .personcenter .content-wrap .table tr:not(:first-child):hover {
  background-color: rgba(0, 0, 0, 0.5);
}