* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  color: #000;
  background-color: transparent;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input {
  outline: none;
}
.header {
  width: 100%;
  min-width: 720px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  z-index: 100;
}
.header .wrapper {
  overflow: hidden;
  width: 70%;
  min-width: 720px;
  height: 50px;
  margin: 0 auto;
  position: absolute;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.page {
  width: 100%;
  height: 100%;
  min-width: 720px;
  overflow: hidden;
  position: relative;
  min-height: 700px;
}
.page .register {
  width: 720px;
  min-width: 720px;
  position: absolute;
  top: 10%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
}
.page .register .title {
  font-size: 50px;
  font-weight: 400;
  cursor: default;
}
.page .register .title_min {
  font-size: 25px;
  cursor: default;
}
.form {
  width: 480px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 50px;
}
.form .row {
  width: 100%;
  margin: 20px 0;
  position: relative;
}
.form .row .in {
  width: 438px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: 0.1s all linear;
  font-size: 20px;
  padding: 0 20px;
}
.form .row .tel-wrap {
  width: 400px;
  height: 52px;
  position: relative;
  float: right;
}
.form .row .in.tel {
  width: 358px;
}
.form .row .tel-area {
  font-size: 20px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  width: 80px;
  float: left;
  font-weight: 400;
}
.form .row .telcode-wrap {
  width: 200px;
  height: 52px;
  float: left;
}
.form .row .in.telcode {
  width: 180px;
}
.form .row .btn-send-telcode {
  float: right;
  width: 235px;
  height: 52px;
  background-color: #09f;
  border-width: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  transition: 0.1s all linear;
}
.form .row .btn-send-telcode:hover {
  background-color: #06f;
}
.form .row .btn-register {
  width: 100%;
  height: 60px;
  border-width: 0;
  background-color: #09f;
  border-radius: 5px;
  transition: 0.1s all linear;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
.form .row .btn-register:hover {
  background-color: #06f;
}
.form .row .tip {
  position: absolute;
  top: 0;
  height: 50px;
  color: #7f7f7f;
  font-size: 20px;
  padding-left: 20px;
  line-height: 50px;
  pointer-events: none;
}
.form .row .tick {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 15px;
  margin: 17.5px 20px;
  background: url('../images/tick.png') no-repeat;
  display: none;
}
.form .row .in:hover {
  border-color: #555;
}
.form .row .in:focus {
  border-color: #09f;
}
.form .row .in.ok {
  border-color: #0f0;
}
.form .row .in.error {
  border-color: #f00;
}
.form .row .info-tips-wrap {
  width: 100%;
  display: none;
}
.form .row .info-tips-wrap .info-tip {
  height: 18px;
  background: url('../images/info.png') no-repeat;
  padding-left: 22px;
  line-height: 18px;
  margin: 7px 0;
}
.form .row .info-tips-wrap .info-tip.ok {
  background: url('../images/ok.png') no-repeat;
  color: #0f0;
}
.form .row .error-tips-wrap {
  width: 100%;
  display: none;
}
.form .row .error-tips-wrap .error-tip {
  height: 18px;
  background: url('../images/error.png') no-repeat;
  padding-left: 22px;
  line-height: 18px;
  margin: 7px 0;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}