<!DOCTYPE html>
<html>
<head>
    <title>Car Pool 拼车网</title>
    <link href="~/css/header.min.css" rel="stylesheet" />
    <script src="~/Scripts/header.js"></script>
</head>
<body>
    <header class="header">
        <img class="logo" src="~/images/logo.png" />
        <ul class="menu">
            <li><a href="http://localhost:50822">首页</a></li>
            <li><a href="#">最新拼车</a></li>
            <li><a href="#">开始拼车</a></li>
            <li><a href="#">发布拼车</a></li>
            <li class="us"><a href="#">登录</a></li>
            <li class="us"><a href="#">注册</a></li>
        </ul>
    </header>
</body>
</html>
