<!DOCTYPE html>
<html>
<head>
    <title>Car Pool 拼车网</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/index.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/global.less" />
    <link rel="stylesheet" type="text/css" href="~/css/index.less" />
</head>
<body>
    <div class="main">

    </div>
</body>
</html>
