<!DOCTYPE html>
<html>
<head>
    <title>用户注册-Car Pool</title>
    <link rel="stylesheet" type="text/css" href="~/css/register.min.css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/global.js"></script>
    <script src="~/Scripts/register.js"></script>
</head>
<body>
    <div class="header">
        <div class="wrapper">
            @RenderPage("~/header.cshtml", new { head_font_color = "#fff" })
        </div>
    </div>
    <div class="page" style="background: url('images/pic6.jpg') no-repeat; background-size:100% 100%;">
        <div class="wrapper" style="background:linear-gradient(#fff, #fff, rgba(0, 0, 0, 0.00))">
            <form action="#" method="post">
                <div class="register">
                    <div class="wrapper">
                        <div class="title">欢迎注册Car Pool</div>
                        <div class="title_min">爱上拼车生活</div>
                        <div class="form">
                            <div class="row">
                                <div class="wrapper">
                                    <div class="tip">用户名</div>
                                    <input type="text" id="username" class="in" maxlength="15" autocomplete="off" />
                                    <div class="tick"></div>
                                    <div class="info-tips-wrap">
                                        <div class="info-tips" v-bind:class="{check_username_length?pl:''}">长度为5-15个字符</div>
                                        <div class="info-tips">只能包含字母和数字</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <input type="password" id="password" class="in" maxlength="18" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>