@import "global";

.footer_content {
    width: 100%;
    height: 100px;

    span {
        display: block;
        /*height: 100%;*/
        line-height: @header_height;
        text-align: center;
    }
}
