* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  color: #000;
  background-color: transparent;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input {
  outline: none;
}
::-webkit-inner-spin-button {
  visibility: hidden;
}
.header {
  width: 100%;
  min-width: 1200px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  z-index: 100;
}
.header .wrapper {
  overflow: hidden;
  width: 70%;
  min-width: 1200px;
  height: 50px;
  margin: 0 auto;
  position: absolute;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.page {
  min-width: 1200px;
  width: 100%;
  position: relative;
}
.page .content-wrap {
  width: 1200px;
  overflow: hidden;
  position: absolute;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}
.page .content-wrap .mode-menu li {
  float: left;
}
.page .content-wrap .mode-menu li a {
  width: 120px;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 20px;
  color: #fff;
}
.page .content-wrap .mode-menu li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.page .content-wrap .mode-menu li a:active {
  background-color: rgba(0, 0, 0, 0.7);
}
.page .content-wrap .mode-adv {
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #7cf;
}
.page .content-wrap .mode {
  width: 1200px;
}
.page .content-wrap .mode-1 {
  margin: 17px 0;
}
.page .content-wrap .mode-1 .mode-search {
  overflow: hidden;
  margin: 13px 0;
}
.page .content-wrap .mode-1 .mode-search li {
  float: left;
  position: relative;
}
.page .content-wrap .mode-1 .mode-search .in-til > span {
  color: #fff;
  line-height: 37px;
  height: 37px;
  display: block;
  padding-left: 20px;
}
.page .content-wrap .mode-1 .mode-search li > input {
  height: 35px;
  padding-left: 7px;
  font-size: 17px;
  color: #fff;
  border: 1px solid #ddd;
  transition: 0.1s all linear;
}
.page .content-wrap .mode-1 .mode-search li > input:hover {
  border-color: #fff;
}
.page .content-wrap .mode-1 .mode-search li > input:focus {
  border-color: #09f;
}
.page .content-wrap .mode-1 .mode-search .mode1-date-icon {
  width: 29px;
  padding: 4px;
  float: left;
  margin-left: 20px;
}
.page .content-wrap .mode-1 .mode-search .in-date > input {
  float: left;
}
.page .content-wrap .mode-1 .mode-search .btn-search {
  width: 37px;
  height: 37px;
  margin: 0 30px;
  cursor: pointer;
}
.page .content-wrap .mode-1 .mode-1-content #mode-1-map {
  width: 500px;
  height: 500px;
  float: left;
}
.page .content-wrap .mode-1 .mode-1-content #mode-1-map .BMap_cpyCtrl {
  display: none;
}
.page .content-wrap .mode-1 .mode-1-content .mode-1-carpools-wrap {
  width: 680px;
  float: right;
}
.page .content-wrap .mode-1 .mode-1-content .mode-1-carpools-wrap .mode-1-list-head-desc {
  width: 100%;
  overflow: hidden;
}
.page .content-wrap .mode-1 .mode-1-content .mode-1-carpools-wrap .mode-1-list-head-desc li {
  float: left;
  height: 22px;
  margin: 0 15px;
}
.page .content-wrap .mode-1 .mode-1-content .mode-1-carpools-wrap .mode-1-list-head-desc .mode-1-til {
  font-weight: bold;
  color: #fff;
  line-height: 22px;
}
.page .content-wrap .mode-1 .mode-1-content .mode-1-carpools-wrap .mode-1-list-head-desc .mode-1-desc .mode-1-desc-til {
  font-size: 13px;
  line-height: 22px;
  color: #ccc;
}
.page .content-wrap .mode-1 .mode-1-content .mode-1-carpools-wrap .mode-1-list-head-desc .mode-1-desc .mode-1-desc-owner {
  background: url('../images/ico_type_car.gif') no-repeat;
  height: 22px;
  color: #0f0;
  margin: 0 13px;
  padding-left: 40px;
}
.page .content-wrap .mode-1 .mode-1-content .mode-1-carpools-wrap .mode-1-list-head-desc .mode-1-desc .mode-1-desc-custome {
  background: url('../images/ico_type_man.gif') no-repeat;
  height: 22px;
  color: #c00;
  padding-left: 40px;
}
.page .content-wrap .mode-1 .mode-1-content .mode-1-carpools-wrap .mode-1-car-pool-list {
  width: 100%;
  border-collapse: collapse;
}
.page .content-wrap .mode-1 .mode-1-content .mode-1-carpools-wrap .mode-1-car-pool-list tr:first-child {
  background-color: rgba(0, 0, 0, 0.7);
}
.page .content-wrap .mode-1 .mode-1-content .mode-1-carpools-wrap .mode-1-car-pool-list tr th {
  padding: 7px 0;
  color: #fff;
}
.page .content-wrap .mode-1 .mode-1-content .mode-1-carpools-wrap .mode-1-car-pool-list tr td {
  color: #fff;
  text-align: center;
  padding: 7px 0;
}
.page .content-wrap .mode-1 .mode-1-content .mode-1-carpools-wrap .mode-1-car-pool-list tr:not(:first-child):nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.4);
}
.page .content-wrap .mode-1 .mode-1-content .mode-1-carpools-wrap .mode-1-car-pool-list tr:not(:first-child):nth-child(even) {
  background-color: rgba(0, 0, 0, 0.3);
}
.page .content-wrap .mode-1 .mode-1-content .mode-1-carpools-wrap .mode-1-car-pool-list tr:not(:first-child):hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.page .content-wrap .mode-1 .mode-1-content .mode-1-carpools-wrap .mode-1-page-wrap {
  margin: 13px 0;
  position: relative;
  height: 25px;
}
.page .content-wrap .mode-1 .mode-1-content .mode-1-carpools-wrap .mode-1-page-wrap .mode-1-pages {
  overflow: hidden;
  position: absolute;
}
.page .content-wrap .mode-1 .mode-1-content .mode-1-carpools-wrap .mode-1-page-wrap .mode-1-pages li {
  float: left;
}
.page .content-wrap .mode-1 .mode-1-content .mode-1-carpools-wrap .mode-1-page-wrap .mode-1-pages li img {
  width: 25px;
  cursor: pointer;
}